@charset "UTF-8";

// 各変数
$menu-font-size: 14.4px;
$section-font-size: 36px;

// ヘッダー
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 20px 30px 14px 40px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 20;
}

nav {
    display: block;
    position: fixed;
    background-color: #121212;
    width: 300px;
    top: 0;
    left: -300px;
    bottom: 0;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
}
.inner {
    padding: 60px 25px 25px 25px;

    ul:first-child {
        list-style: none;
        margin: 0 0 60px 0;
        padding: 0;

        li:first-child {
            border-top:1px solid #FFF;
        }

        li {
            margin: 0;
            padding: 21px 0;
            border-bottom:1px solid #FFF;
            a {
                display: block;
                color: #fff;
                font-size: $menu-font-size;
                text-decoration: none;
                transition-duration: 0.2s;
            }
        }
    }
    ul:last-child{
        li {
            padding: 5px 0;
            a {
                font-size: $menu-font-size;
                list-style: none;
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

// ハンバーガーメニューを開く前
.toggle-btn {
    display: block;
    position: fixed;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    z-index: 20;
    cursor: pointer;


    span {
        position: absolute;
        display: block;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #333;
        transition: all 0.5s;
        border-radius: 4px;
    }
    :nth-child(1) {
        top: 4px;
    }
    :nth-child(2) {
        top: 14px;
    }
    :nth-child(3) {
        bottom: 4px;
    }
}

#mask {
    display: none;
    transition: all 0.5s;
}

// ハンバーガーメニューを開いた時
.open {
    nav {
        left: 0;
        opacity: 1;
    }
    .toggle-btn {
        span {
            background-color: #fff;
        }
        :nth-child(1) {
            transform: translateY(10px) rotate(-315deg);
        }
        :nth-child(2) {
            opacity: 0;
        }
        :nth-child(3) {
            transform: translateY(-10px) rotate(315deg);
        }
    }
    #mask {
        display: block;
        background: #000;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        opacity: 0.8;
        // z-index: 2;
        cursor: pointer;
    }
}

#main {
    padding-top: 80px;
}

#topvideo video {
    display: block;
    width: 100%;
    padding: 0 0 90px 0;
}

#pickup {
    display: block;
    width: 100%;
    justify-content: center;
    padding: 25px 0 130px 0;
    z-index: 2;
    h2 {
        text-align: center;
        font-size: $section-font-size;
        margin-bottom: 34px;
    }

    .slider {
        img {
            max-width: 100%;
            padding: 0 30px;
        }
    }
}

#feature {
    display: block;
    max-width: 1240px;
    padding: 20px 16px 50px 16px;
    margin: -50px auto 10px auto;
    h2 {
        text-align: center;
        font-size: $section-font-size;
        margin-bottom: 35px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;

        .card-item {
            background-size: cover;
            box-sizing: border-box;
            box-shadow: 0 0 10px 5px rgb(201, 201, 201);
            
            img {
                width: 100%;
            }
            .fadein{
                opacity: 0;
                transform: translate(0, 30px);
                transition: all 800ms;
                
            }
            .fadein.is-fadein {
                opacity: 1;
                transform: translate(0);
            }

            .card-content{
                padding: 25px 30px;

                .title {
                    font-size: 12px;
                    margin-bottom: 25px;
                }

                .text {
                    font-size: $menu-font-size;
                    font-weight: bold;
                    margin-bottom: 25px;
                }

                .date {
                    font-size: 12px;
                    text-align: right;
                }
            }
        }            
    }
}

#contact {
    background-color: #000;
    color: #fff;
    padding: 50px 0;

    h2 {
        text-align: center;
        font-size: $section-font-size;
        margin-bottom: 30px;
    }

    .contact-page {
        display: flex;
        margin: 0 330px;
        justify-content: space-between;
        padding: 0 16px;
    }

    .contact-text {
        width: 45%;

        p {
            font-size: $menu-font-size;
            margin-bottom: 30px;
        }
    }

    .contact-form {
        width: 45%;

        label {
            font-size: $menu-font-size;
        }

        dd input {
            width: 100%;
            border: solid 1px #fff;
            background-color: #fff;
            padding: 10px;
            margin-bottom: 20px;
            font-size: $menu-font-size;
        }
        dd textarea {
            width: 100%;
            border: solid 1px #fff;
            background-color: #fff;
            padding: 10px;
            margin-bottom: 20px;
            font-size: $menu-font-size;
        }

        .button input {
            width: 200px;
            border: solid 1px #fff;
            font-size: $menu-font-size;
            color: #fff;
            background-color: #000;
            text-align: center;
            padding: 13px;
        }
    }
}

#footer {
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #000;
    padding: 10px;
}